* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Outfit", sans-serif;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

header {
    position: relative;
    background-color: #cd0404;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content:center;
    align-items: center;
}

.precio{
    display: flex;
    justify-content:center;
    flex-direction: column;
}

.empresa{
    padding:0px 100px;
}

.logo {
    width: 200px;

}

button:hover {
    background-color: #000000;
    color: #ff0000;
}


.btn-signup {
    margin: 0 200px;
    padding: 5px 10px;
    border: 2px solid  #000000;
    color: white;
    background-color: #000000;
    cursor: pointer;
    border-radius: 25px;
    font-size: 17px;
    font-weight: bold;
    margin-right: auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.btn-login {
    margin: 0 200px;
    padding: 5px 10px;
    border: 2px solid  #000000;
    color: white;
    background-color: #e10303;
    cursor: pointer;
    border-radius: 25px;
    font-size: 17px;
    font-weight: bold;
    margin-left: auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

nav {
    background-color: #000000;
    padding: 10px 0;
    position: static;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    margin: 0 20px;
    position: relative;
}

li:not(:last-child)::after {
    content: '|';
    position: absolute;
    right: -15px;
    color: white;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

a:hover {
    color: #ff0000;
}

.precio h1{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    color: #e10303;
    text-align: center;
    margin: 20px 20px;
}

.section-title h2 {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    text-align: center;
}

.section-title {
    margin-top: 10px;
    margin-bottom: 10px;
}

.pricing-table {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.pricing-table table {
    width: 40%;
    max-width: 600px;
    border-collapse: collapse;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 40px;
    overflow: hidden;
}


.table th, .table td {
    padding: 15px;
    text-align: center;
    border: 3px solid #ffffff;
}

.table th {
    background-color: #e40c0c;
    color: rgb(255, 255, 255);
}

.table td {
    color: #ffffff;
    background-color: #000000;
}

.footer {
    text-align: center;
    margin-top: 50px;
}

.footer p {
    color: #000000;
}



footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-content {
    font-size: 20px;
    padding-right: 30px;
    padding-top: 5px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer-logo img {
    padding-left: 50px;
    width: 150px;
}

.footer-address {
    padding-right: 100px;
    font-size: 17px;
}

.list-inline{
    padding-top: 3px;
}


.footer-icon i {
    padding-top: 4px;
    font-size: 25px;
    color: white;
    transition: color 0.4s;
}

.footer-icon:hover i {
    color: #ff0000;
}

/* Responsive adjustments for smaller devices */

@media(max-width:767px){

    .empresa{
        padding: 0px 10px;
    }
    .logo {
        width: 130px; 
    }

    .btn-login, .btn-signup {
        margin: 0 5px;
        padding: 3px 5px;
        font-size: 9px;
    }

    .bars {
        padding-right: 10px;
        display: block;
        cursor: pointer;
    }
    
    .bars .line {
        width: 18px;
        height: 2px;
        background-color: white;
        margin: 3px 2px;
    }

    .menu {
        max-height: 0; 
        overflow: hidden; 
        transition: max-height 0.5s ease;
        background-color: #000000;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu.active {
        max-height: 240px;
        padding: 5px 0; 
    }

    .menu li {
        margin: 5px 0;
        text-align: center;
        width: 100%;
    }

    .menu a {
        font-size: 15px; 
        color: white;
        padding: 10px;
        display: block;
        width: 100%;
    }

    .menu a:hover {
        color: #ff0000;
        background-color: #333333;
    }

    .footer-content {
        font-size: 5px;
        padding: 0px 2px;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    
    .footer-logo img {
        padding-left: 3px;
        padding-right: 15px;
        width: 90px;
    }
    
    .footer-address {
        padding-right: 3px;
        padding-left: 3px;
        font-size: 9px;
    }
   
    .footer-contact p{
        padding-right: 5px;
        padding-top: 0.5px;
        font-size: 11px;
    }
    .footer-icon i {
        padding: 0px 0.5px;
        font-size: 16px;
        color: white;
        transition: color 0.4s;
    }

}


@media(min-width: 768px) and (max-width: 1024px){
    
    .container{
        padding-right: 70px;
    }
    .empresa{
        padding: 6px 30px;
    }
    .logo {
        width: 230px; 
    }

    .btn-login, .btn-signup {
        margin: 0 5px;
        padding: 3px 5px;
        font-size: 16px;
    }

    .bars {
        padding-right: 20px;
        padding-left: 2px;
        display: block;
        cursor: pointer;
    }
    
    .bars .line {
        width: 38px;
        height: 5px;
        background-color: white;
        margin: 6px 2px;
    }
    
    .menu {
        max-height: 0;  
        overflow: hidden; 
        transition: max-height 0.5s ease; 
        background-color: #000000;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu.active {
        max-height: 400px; 
        padding: 5px 2px;   
    }

    .menu li {
        margin: 15px 0;
        text-align: center;
        width: 100%;
    }

    .menu a {
        font-size: 25px;  
        color: white;
        padding: 10px;
        display: block;
        width: 100%;
    }

    .menu a:hover {
        color: #ff0000;
        background-color: #333333;
    }

    .footer-logo img {
        padding-left: 10px;
        padding-right: 5px;
        width: 82px;
    }
    
    .footer-address {
        padding-right: 3px;
        padding-left: 3px;
        font-size: 15px;
    }
   
}

